       <h5>Locations</h5>
       {{#each rows}}
       <li data-id="{{this.cartodb_id}}" class="{{this.active}}">
       <div class="">{{this.name}} ({{this.anno}})
       <span class="glyphicon glyphicon-share-alt bt-cartoobj bt-cartoobj-zoomto text-muted" title="zoom to this"></span>

       <span data-id="{{this.cartodb_id}}" class="glyphicon glyphicon-headphones bt-cartoobj bt-cartoobj-episodes text-muted" title="pull a list of associated episodes"></span>
       </div>
       </li>
       {{/each}}
