<h1 class="stroke stroke-active" style="margin-bottom:43px;">Locations <span class="cbbanno">({{count}})</span><span class="episodes hidden" style="margin-left:12px;">--------></span> </h1>

{{#each rows}}
<li data-id="{{this.cartodb_id}}" class="">

<div class="">
<span data-id="{{this.cartodb_id}}" class="glyphicon glyphicon-asterisk bt-getid" title="echo model id (dev only)"></span>
{{this.name}} ({{this.anno}})
<span class="glyphicon glyphicon-share-alt bt-cartoobj bt-cartoobj-zoomto" title="zoom to this"></span>

<span data-id="{{this.cartodb_id}}" data-type="{{this.geom_type}}" class="glyphicon glyphicon-headphones bt-cartoobj bt-cartoobj-episodes" title="pull a list of associated episodes"></span>




</div>
</li>
{{/each}}
