<a href="http://www.earwolf.com/episode/{{slug_earwolf}}" class="{{active}}" id="{{_id}}" title="{{slug_earwolf}}">
{{#if title}}{{title}}{{else}}{{slug_earwolf}}{{/if}} (#{{episode}} at ~{{tstart}})</a>