<a href="http://www.earwolf.com/episode/{{slug_earwolf}}" class="{{active}}" id="{{_id}}" title="{{slug_earwolf}}">
{{#if title}}{{title}}{{else}}{{slug_earwolf}}{{/if}}</a>, at ~{{tstart}} (#{{episode}}: <a href="http://earwolf.com/{{slug_earwolf}}">earwolf</a>, <a href="http://soundcloud.com/{{slug_soundcloud}}">soundcloud</a>)