<a href="http://www.earwolf.com/episode/{{slug_earwolf}}" class="{{active}}" id="{{_id}}" title="link to the episode page at Earwolf">{{#if title}}{{title}}{{else}}{{slug_earwolf}}{{/if}}</a>
(#{{episode}}:{{tstart}})
<!-- <a href="http://earwolf.com/episode/{{slug_earwolf}}">
	<img src="images/bt-earwolf.png" alt="" width="15" height="15" border="0" />
</a> -->
<!-- , -->
<a href="http://soundcloud.com/comedybangbang/{{url_soundcloud}}#t={{tstart}}" title="link to {{tstart}} at SoundCloud">
	<img src="images/bt-soundcloud.png" alt="" width="30" height="20" border="0" />
</a>

<!-- ), at ~{{tstart}} -->