<div class="btn-group btn-group-xs" role="group" aria-label="...">

<button data-target="marker" type="button" class="btn btn-default btn-pu-nav active"><span class="bt-cartoobj bt-cartoobj-feedback carto-plain-geomtype icom-{{this.geom_type}}"></span></button>

  <button data-target="episodes" data-id="episodes" type="button" class="btn btn-default btn-pu-nav"><span data-id="{{cartodb_id}}" data-type="{{geom_type}}" class="glyphicon glyphicon-headphones bt-cartoobj bt-cartoobj-episodes" title="pull a list of referencing episodes"></span></button>

  <button data-target="feedback" data-id="feedback" type="button" class="btn btn-default btn-pu-nav"><span data-id="{{cartodb_id}}" data-type="{{geom_type}}" class="glyphicon glyphicon-edit bt-cartoobj bt-cartoobj-feedback" title="pull a list of referencing episodes"></span></button>

</div>


<div class="pu-copy pu-copy-marker">
<h5>{{name}}</h5>
{{#if anno}}<p class="text-muted">{{anno}}</p>{{/if}}</div>

<div class="hidden pu-copy pu-copy-episodes">
<p class="text-muted">HEYOOOOOO eps</p></div>

<div class="hidden pu-copy pu-copy-feedback">
<p class="text-muted">HEYOO feed</p></div>