<div"><h5>{{name}}</h5></div>
{{#if anno}}<div><p class="text-muted">{{anno}}</p></div>{{/if}}

<span data-id="{{cartodb_id}}" data-type="{{geom_type}}" class="glyphicon glyphicon-headphones bt-cartoobj bt-cartoobj-episodes" title="pull a list of referencing episodes"></span><span data-id="{{cartodb_id}}" data-type="{{geom_type}}" class="glyphicon glyphicon-flag bt-cartoobj bt-cartoobj-feedback" title="report an issue with this one"></span>